* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  background-color: dimgray;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #bddbed;
}
.titulo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  margin: 4px;
}
.subtitulo {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  margin: 20px;
  color: #002ea4;
}
.contenedor {
  flex: 1;
  display: flex;
  background-color: #ffedef;
}
.sidebar {
  width: 180px;
  background-color: #efceed;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}
.sidebar button {
  width: 100%;
  margin-top: 10px;
}

.paletas {
  flex: 1;
}
.btnGenerarPaleta {
  background-color: #ffadff;
  margin: 10px;
  padding: 10px 20px;
  font-family: "Times New Roman", Times, serif;
}

footer {
  text-align: end;
  height: 30px;
  background-color: #ffffe1;
  padding-right: 20px;
}
